params {
    fastq2 = null
    fiveprimemismatches = 1
    threeprimemismatches = 0
    adapter2 = null
    phredquality = 30
    phred_quality_5_prime = 0
    min_trim = 3
    final_min_length = 0
    keep_barcodes = false
    ignore_no_match = false
}

process {
    withName: '.*ULTRAPLEX.*' {
        ext.args = 'test'
        ext.args   = [
            "-m5 ${params.fiveprimemismatches}",
            "-m3 ${params.threeprimemismatches}",
            "-a2 ${params.adapter2}",
            "-q ${params.phredquality}",
            "-q5 ${params.phred_quality_5_prime}",
            "-mt ${params.min_trim}",
            params.final_min_length != 0 ? "-l ${params.final_min_length}" : '',
            params.keep_barcodes ? '-kbc' : '',
            params.ignore_no_match ? '-inm' : ''
        ].flatten().unique(false).join(' ').trim()
    }
}
