params {
    monochrome_logs = false
    ignore_params = 'skip_reporting,skip_igv,skip_heatmaps'

    // Boilerplate
    outdir                     = "./results"
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Test params
    use_control                = true
    only_peak_calling          = false
    extend_fragments           = true
    seacr_norm                 = 'non'
    seacr_stringent            = 'stringent'
    seacr_peak_threshold       = 0.05
    macs2_pvalue               = 0.05
    macs_gsize                 = 2.7e9
    macs2_narrow_peak          = true
    macs2_broad_cutoff         = 0.1
    consensus_peak_mode        = 'group'
    replicate_threshold        = 1

    // Should be skipped
    skip_reporting             = false
    skip_igv                   = false
    skip_heatmaps              = false
}

manifest {
    name            = 'goodwright/clipseq'
    homePage        = 'https://github.com/goodwright/clipseq'
    version         = '1.0dev'
}
