withName: DESEQ2_DIFFERENTIAL {
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.deseq2.results.tsv'
            ],
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts,vst,rlog}.tsv'
            ],
            [
                path: { "${params.outdir}/plots/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/deseq2" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sizefactors.tsv,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--sample_id_col \"${params.observations_id_col}\"",
            "--test $params.deseq2_test",
            "--fit_type $params.deseq2_fit_type",
            "--sf_type $params.deseq2_sf_type",
            "--min_replicates_for_replace $params.deseq2_min_replicates_for_replace",
            "--use_t $params.deseq2_use_t",
            "--lfc_threshold $params.deseq2_lfc_threshold",
            "--alt_hypothesis $params.deseq2_alt_hypothesis",
            "--independent_filtering $params.deseq2_independent_filtering",
            "--p_adjust_method $params.deseq2_p_adjust_method",
            "--alpha $params.deseq2_alpha",
            "--minmu $params.deseq2_minmu",
            "--vs_method $params.deseq2_vs_method",
            "--vs_blind $params.deseq2_vs_blind",
            "--vst_nsub $params.deseq2_vst_nsub",
            "--shrink_lfc $params.deseq2_shrink_lfc",
            "--cores $params.deseq2_cores",
            "--contrast_variable \"$meta.variable\"",
            "--reference_level \"$meta.reference\"",
            "--treatment_level \"$meta.target\"",
            "--blocking_variables \"$meta.blocking\""
        ].join(' ').trim() }
    }
