// Base directory for test data
def gw_test_data_dir = "./tests/data"

params {
    goodwright_test_data {
        'samplesheets' {
            clip_samplesheet              = "${gw_test_data_dir}/samplesheets/clip-samplesheet.csv"
            clip_samplesheet_xlsx         = "${gw_test_data_dir}/samplesheets/clip-samplesheet.xlsx"
            clip_samplesheet_small        = "${gw_test_data_dir}/samplesheets/clip-samplesheet-small.csv"
            base_valid_single_pe          = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-single-sample-pe.csv"
            base_valid_single_se          = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-single-sample-se.csv"
            base_valid_multi_pe           = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-multirep-pe.csv"
            base_valid_multi_se           = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-multirep-se.csv"
            base_valid_header_exta        = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-extra-header.csv"
            base_valid_merge_rep          = "${gw_test_data_dir}/samplesheets/base_samplesheet/valid-merge-rep.csv"
            base_invalid_mixed            = "${gw_test_data_dir}/samplesheets/base_samplesheet/pe-se-mixed.csv"
            base_invalid_dot_sampleid     = "${gw_test_data_dir}/samplesheets/base_samplesheet/dot-in-sampleid.csv"
            base_invalid_dup_rows         = "${gw_test_data_dir}/samplesheets/base_samplesheet/duplicate-rows.csv"
            base_invalid_fastq_ext_error  = "${gw_test_data_dir}/samplesheets/base_samplesheet/fastq-ext-error.csv"
            base_invalid_fastq_spaces     = "${gw_test_data_dir}/samplesheets/base_samplesheet/fastq-spaces.csv"
            base_invalid_group_blank      = "${gw_test_data_dir}/samplesheets/base_samplesheet/group-blank.csv"
            base_invalid_group_spaces     = "${gw_test_data_dir}/samplesheets/base_samplesheet/group-spaces.csv"
            base_invalid_invalid_colinrow = "${gw_test_data_dir}/samplesheets/base_samplesheet/invalid-col-in-row.csv"
            base_invalid_negrepnum        = "${gw_test_data_dir}/samplesheets/base_samplesheet/neg-rep-num.csv"
            base_invalid_rep_start        = "${gw_test_data_dir}/samplesheets/base_samplesheet/rep-start-not-one.csv"
        }
        'excel' {
            small_xlsx = "${gw_test_data_dir}/small_excel.xlsx"
            small_xls  = "${gw_test_data_dir}/small_excel.xls"
        }
        'genome' {
            mm10_blacklist     = "${gw_test_data_dir}/genome/mm10-blacklist.bed"
            mm10_blacklist_gz  = "${gw_test_data_dir}/genome/mm10-blacklist.bed.gz"
            gencode35_gtf_gz   = "${gw_test_data_dir}/genome/gencode.v35.chr21.gtf.gz"
            gencode35_gtf      = "${gw_test_data_dir}/genome/gencode.v35.chr21.gtf"
            chr21_fasta        = "${gw_test_data_dir}/genome/homosapien-hg37-chr21.fa.gz"
            chr21_fai          = "${gw_test_data_dir}/genome/homosapien-hg37-chr21.fa.fai"
            longest_transcript = "${gw_test_data_dir}/genome/longest_transcript.txt"
        }
        'aligners' {
            bowtie2_index_tar             = "${gw_test_data_dir}/genome/indexes/bowtie2.tar.gz"
            bowtie1_index_tar             = "${gw_test_data_dir}/genome/indexes/bowtie.tar.gz"
            star_index_tar                = "${gw_test_data_dir}/genome/indexes/star.tar.gz"
            hs_smallrna_bowtie2_index_tar = "${gw_test_data_dir}/genome/indexes/small_rna/bowtie2.tar.gz"
        }
        'ultraplex' {
            barcodes          = "${gw_test_data_dir}/ultraplex/barcodes.csv"
            multiplexed_fastq = "${gw_test_data_dir}/ultraplex/multiplexed.fastq.gz"
        }
        'icount' {
            segmented_gtf          = "${gw_test_data_dir}/icount/gencode.seg.gtf"
            segmented_filtered_gtf = "${gw_test_data_dir}/icount/gencode.seg.filt.gtf"
            seg_res_gtf_gz         = "${gw_test_data_dir}/icount/icount_gencode.resolved.gtf.gz"
            seg_resoth_gtf_gz      = "${gw_test_data_dir}/icount/icount_gencode.resolved_other.gtf.gz"
            sigxls_gz              = "${gw_test_data_dir}/icount/test.sigxls.bed.gz"
        }
        'clip' {
            sample_1         = "${gw_test_data_dir}/clip/ultraplex_demux_Sample1.fastq.gz"
            sample_2         = "${gw_test_data_dir}/clip/ultraplex_demux_Sample2.fastq.gz"
            bam              = "${gw_test_data_dir}/clip/alignments.bam"
            bai              = "${gw_test_data_dir}/clip/alignments.bam.bai"
            fai              = "${gw_test_data_dir}/clip/alignments.fa.fai"
            crosslinks       = "${gw_test_data_dir}/clippy/clippy.bed"
            crosslinks2      = "${gw_test_data_dir}/clip/crosslinks.bed"
            seg_gtf          = "${gw_test_data_dir}/clippy/clippy.gtf"
            clippy_fai       = "${gw_test_data_dir}/clippy/clippy.fai"
            clippy_peaks     = "${gw_test_data_dir}/clippy/peaks.bed"
            paraclu_bed      = "${gw_test_data_dir}/paraclu/paraclu.bed"
            paraclu_tsv      = "${gw_test_data_dir}/paraclu/paraclu.sigxls.tsv"
            bam_2            = "${gw_test_data_dir}/clip/sample_1_R1.transcript.raw.bam"
            bai_2            = "${gw_test_data_dir}/clip/sample_1_R1.transcript.raw.bam.bai"
            qc_bt2_log       = "${gw_test_data_dir}/clipqc/sample_1_R1.bowtie2.log"
            qc_star_log      = "${gw_test_data_dir}/clipqc/sample_1_R1.Log.final.out"
            qc_umi_log       = "${gw_test_data_dir}/clipqc/sample_1_R1.umitools.genome.log"
            qc_crosslinks    = "${gw_test_data_dir}/clipqc/sample_1_R1.genome.crosslinks.bed"
            qc_icount_peaks  = "${gw_test_data_dir}/clipqc/sample_1_R1.icount.peaks.bed"
            qc_clippy_peaks  = "${gw_test_data_dir}/clipqc/sample_1_R1.clippy.peaks.bed"
            qc_paraclu_peaks = "${gw_test_data_dir}/clipqc/sample_1_R1.paraclu.peaks.bed"
        }
    }
}
