// Base directory for test data
def test_data_dir = "./tests/data"

params {
    goodwright_test_data {
        'samplesheets' {
            clip_samplesheet = "${test_data_dir}/samplesheets/clip-samplesheet.csv"
        }
        'excel' {
            small_xlsx = "${test_data_dir}/small_excel.xlsx"
            small_xls  = "${test_data_dir}/small_excel.xls"
        }
        'ultraplex' {
            barcodes          = "${test_data_dir}/ultraplex/barcodes.csv"
            multiplexed_fastq = "${test_data_dir}/ultraplex/multiplexed.fastq.gz"
        }
    }
}
