process {

    withName: LINUX_COMMAND_WITHPARAMS {
        ext.cmd1 = 'sort -k1,1 -k2,2n'
        ext.suffix = '.sorted'
        ext.ext = 'bed'
    }

    withName: LINUX_COMMAND_CMD2 {
        ext.cmd1 = 'awk -v total=\$CMD2 \'{printf "%s\\t%i\\t%i\\t%s\\t%f\\t%s\\n", \$1, \$2, \$3, \$4, 1000000*\$5/total, \$6}\''
        ext.cmd2 = 'awk \'BEGIN {total=0} {total=total+\$5} END {print total}\''
        ext.suffix = '.norm'
        ext.ext = 'bed'
    }

    withName: LINUX_COMMAND_CMD2CPY {
        ext.cmd1 = 'awk -v total=\$CMD2 \'{printf "%s\\t%i\\t%i\\t%s\\t%f\\t%s\\n", \$1, \$2, \$3, \$4, 1000000*\$5/total, \$6}\''
        ext.cmd2 = 'awk \'BEGIN {total=0} {total=total+\$5} END {print total}\''
        ext.suffix = '.normcpy'
        ext.ext = 'bed'
    }
}
